<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon link -->
    <link rel="shortcut icon" type="image/ico" href="logos.ico">
    <!-- External CSS link -->
    <link rel="stylesheet" href="layout.css">
    <!-- Google Font link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Grid Properties</title>
</head>
<body>
    <div class="nav-fixed">
        <ul>
            <li><a href="./register/register.html">Register</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Layout</a>
                <div class="dropdown-content">
                    <a href="./flexbox/flexbox.html">Flex Box Layout</a>
                    <a href="../flexboxdemo/demo.html">Flexbox Demo Layout</a>
                    <a href="../grid/grid.html">Grid Layout</a>
                    <a href="#">Common Layout</a>
                </div>
            </li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">E-Commerce</a></li>
        <li><a href="#">Order Form</a></li>
        <li><a href="#">Responsive Web Navigator</a></li>
        <li style="float: right;"><a href="#">Sign Out</a></li>
        </ul>
    </div>
    <div class="page-over-menubar">
       <div class="header">
            <h1>This is the Heading of Common Layout</h1>
            <p>Resize the browser window to see the responsive effect.</p>
       </div>
       <div class="row">
            <div class="column">
                <h2>Column</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
            </div>
            <div class="column">
                <h2>Column</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
            </div>
            <div class="column">
                <h2>Column</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
            </div>
       </div>
       <div class="footer">
        <p>Copy right 2023,Flex Layout Design, All right reserved.</p>
        </div>
    </div>
</body>
</html>